/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:5806ae47561ad7e2d76468a791ac8b06:dbdd0ba5c398f64b2da03d0a8c462934:52cf8bfae73424fd266f8c0e9a9934af$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(characterSheet.png);}

.character_0000_Layer-2-copy-2 {width:309px; height:768px; background-position: -2px -2px}
.character_0001_Layer-2-copy-4 {width:309px; height:768px; background-position: -313px -2px}
.character_0002_Layer-2-copy {width:309px; height:768px; background-position: -624px -2px}
.character_0003_Layer-2-copy-3 {width:309px; height:768px; background-position: -935px -2px}
.character_0004_Layer-2 {width:309px; height:768px; background-position: -1246px -2px}
